

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    }
    
    nav{
        width: 95%;
        height: 25%;
        border: 2px solid black;
        margin: auto;
        
    }
    nav ul{
        display: flex;
        align-items: center;
        justify-content:space-around;
        margin-left: 40%;
        font-size: 1.1em;
        padding-right: 3%;
    }
    .nav-link{
    list-style: none;
    height: 10%;
    width: 120px;
    border: 2px solid grey;
    margin-left: 2%;
    border-radius: 5px 5px;
    box-shadow: 2px 2px black;
    text-align: center;
    }
    #name{
        position: absolute;
        font-size: 2em;
        top: 2% ;
        letter-spacing: 0.2rem;
        word-spacing: 0.2em;
    
    }
    a{
        text-decoration: none;
    }
    @media only screen and (max-width: 715px) {
       nav{
        height: 35vh;
        
    
       }
       
        nav ul{
           border:2px solid red;
           margin-top:20vh ;
           width: 98%;
           margin-left: 0;
           padding: 0;
           margin-left: auto;
           margin-right: auto;
        
        }
           #name{
            letter-spacing: 1px;
            word-spacing: 2px;
            font-size: 1.6em;
            top: 5%;
            left: 30%;
           }
        .nav-link{
            margin-left: 0.5%;
    
            
        }
        }
    
    @media only screen and (max-width: 375px) {
        nav ul{
            font-size: 0.9em;
        }
        .nav-link{
            border: none;
            box-shadow: none;
            margin-left: 0.2%;
            
        }
       
        #name{
            left: 18%;
        }
        a{
            padding: 0;
        }
        
    }
    @media only screen and (max-width: 275px) {
        #name{
            
            font-size:1.2em ;
        }
    
    }