body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    }
    
    nav{
        width: 100vw;
        height: 25%;
        border: 2px solid black;
        
    }
    nav ul{
        display: flex;
        align-items: center;
        justify-content:space-around;
        margin-left: 60vw;
        font-size: 1.1em;
    }
    nav li{
    list-style: none;
    }
    #name{
        position: absolute;
        font-size: 2em;
        top: 2% ;
        letter-spacing: 0.2rem;
        word-spacing: 0.2em;
    }
    a{
        text-decoration: none;
    }
    